* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url(../images/landscape.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  max-width: 70%;
  margin: auto;
  margin-top: 1%;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  width: 23%;
  margin: 10px;
  background-color: white;
  padding: 1%;
}

img {
  max-width: 200px;
  max-height: 200px;
  margin-bottom: 3%;
}

.buttons {
  display: flex;
  justify-content: center;
  padding: 1%;
}

.buttons > button {
  gap: 20px;
}

h2 {
  margin-bottom: 5%;
}

p {
  margin-bottom: 3%;
}
