* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url(../images/landscape.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  max-width: 70%;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 3%;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  width: 23%;
  margin: 10px;
  background-color: white;
  padding: 1%;
}

img {
  max-width: 300px;
  max-height: 200px;
  margin-bottom: 3%;
}

.buttons {
  display: flex;
  justify-content: center;
  padding: 1%;
}

.buttons > button {
  gap: 20px;
}

#btns {
  margin: 3%;
  bottom: 100%;
}

h2 {
  margin-bottom: 5%;
  text-transform: capitalize;
}

.card > p {
  margin-bottom: 3%;
  display: flex;
  flex-wrap: wrap;
  font-size: 80%;
  font-style: italic;
}

h4 {
  margin-bottom: 5%;
}

.cart-btn {
  z-index: 1000;
}

.cart {
  position: fixed;
  top: -100%;
  left: -100%;
  z-index: 0;
  transition: all 0.3s linear;
}

.cart.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 50vw;
  height: 100vh;
  z-index: 100;
  background-image: url(../images/arch.jpg);
  background-size: cover;
}

.cart-item {
  padding: 3%;
  margin: auto;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 50%;
}

.total-div > p {
  margin-top: 5%;
  font-size: 200%;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 3%;
}
