* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url(../images/wolf-forest.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.form {
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 50%;
  margin: auto;
  margin-top: 5%;
  padding: 1%;
  display: flex;
  flex-direction: column;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  margin-top: 3%;
}

input {
  padding: 1%;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.buttons button {
  margin-top: 3%;
  padding: 1%;
  width: 100%;
  background-color: blue;
  border: none;
}

.buttons button:hover {
  cursor: pointer;
}

.account {
  text-align: center;
  margin-top: 2%;
}

a {
  text-decoration: none;
  color: white;
}

button > a {
  text-transform: uppercase;
  font-size: 150%;
  font-weight: bold;
}

.heading {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

#login_form {
  display: none;
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

.btn button {
  padding: 0.2%;
  width: 200px;
  height: 50px;
  font-size: 150%;
  letter-spacing: 3px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: blue;
  border: black;
}

.btn button:hover {
  cursor: pointer;
}
